# Binary files
main

# Configuration files
.vscode/

# Temporary files
*~
*.aux
*.bcf
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.thm
.ipynb_checkpoints/

# Intentionally left out files
_*
Temporary/

# CMake files
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
